## lets work on Flight price prediction dataset and perform feature engineering

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
train_df = pd.read_excel("Data_Train.xlsx")
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
train_df.shape

(10683, 11)

In [6]:
test_df  = pd.read_excel("Test_set.xlsx")
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [7]:
test_df.shape

(2671, 10)

In [8]:
df = train_df.append(test_df)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [9]:
df.shape

(13354, 11)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [12]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [34]:
### lets create a derived feature from date of journey into datetime format

df["Date"] = df["Date_of_Journey"].str.split("/").str[0]
df["Month"]= df["Date_of_Journey"].str.split("/").str[1]
df["Year"]= df["Date_of_Journey"].str.split("/").str[2]

In [32]:
# we can get all the dates using below code
df["Date_of_Journey"].str.split("/").str[2]

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
2666    2019
2667    2019
2668    2019
2669    2019
2670    2019
Name: Date_of_Journey, Length: 13354, dtype: object

In [36]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [37]:
df["Date"] = df["Date"].astype(int)
df["Month"] = df["Month"].astype(int)
df["Year"] = df["Year"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.9+ MB

In [38]:
### since we already created derived features from date_of_journey, now we can drop it 

df.drop(columns = ["Date_of_Journey"],inplace = True)

In [40]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [44]:
### lets handle Arrival_time Feature

df["Arrival_Time"] = df["Arrival_Time"].apply(lambda x : x.split(" ")[0])

In [46]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [50]:
df["Arrival_Hour"] = df["Arrival_Time"].apply(lambda x : x.split(":")[0])
df["Arrival_mins"] = df["Arrival_Time"].apply(lambda x : x.split(":")[1])
df.drop(columns = ["Arrival_Time"],inplace = True)
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [52]:
df["Arrival_Hour"] = df["Arrival_Hour"].astype(int)
df["Arrival_mins"] = df["Arrival_mins"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int32
 10  Month            13354 non-null  int32
 11  Year             13354 non-null  int32
 12  Arrival_Hour     13354 non-null  int32
 13  Arrival_mins     13354 non-null  int32
dtypes: float64(1), int32(5), object(8)
memory usage: 1.8+ MB

In [55]:
#### lets do same thing for departure time also

### lets handle Arrival_time Feature

df["Dep_Time"] = df["Dep_Time"].apply(lambda x : x.split(" ")[0])
df["Dep_hour"] = df["Dep_Time"].str.split(":").str[0]
df["Dep_mins"] = df["Dep_Time"].str.split(":").str[1]
df.head(4)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_mins,Dep_hour,Dep_mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,05

In [76]:
df["Dep_hour"] = df["Dep_hour"].astype(int)
df["Dep_mins"] = df["Dep_mins"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13353 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   Source           13353 non-null  object
 2   Destination      13353 non-null  object
 3   Duration         13353 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13353 non-null  object
 6   Price            10682 non-null  float64
 7   Date             13353 non-null  int32
 8   Month            13353 non-null  int32
 9   Year             13353 non-null  int32
 10  Arrival_Hour     13353 non-null  int32
 11  Arrival_mins     13353 non-null  int32
 12  Dep_hour         13353 non-null  int32
 13  Dep_mins         13353 non-null  int32
dtypes: float64(2), int32(7), object(5)
memory usage: 1.2+ MB

In [57]:
## Checking null values

df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_mins          0
Dep_hour              0
Dep_mins              0
dtype: int64

In [58]:
df["Route"]

### here this featture is diplaying the routes of the journey

0                   BLR → DEL
1       CCU → IXR → BBI → BLR
2       DEL → LKO → BOM → COK
3             CCU → NAG → BLR
4             BLR → NAG → DEL
                ...
2666          CCU → DEL → BLR
2667                CCU → BLR
2668          DEL → BOM → COK
2669          DEL → BOM → COK
2670          DEL → BOM → COK
Name: Route, Length: 13354, dtype: object

In [59]:
df["Total_Stops"].isnull().sum()

1

In [62]:
df["Total_Stops"].unique()

array([ 0.,  2.,  1.,  3., nan,  4.])

In [61]:
df["Total_Stops"]= df["Total_Stops"].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3,'4 stops':4})
df["Total_Stops"]

0       0.0
1       2.0
2       2.0
3       1.0
4       1.0
       ...
2666    1.0
2667    0.0
2668    1.0
2669    1.0
2670    1.0
Name: Total_Stops, Length: 13354, dtype: float64

In [71]:
### we are dropping one row where total stops is having nan

df.drop([df[df["Total_Stops"].isnull()].index][0],inplace=True)

In [78]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_mins,Dep_hour,Dep_mins
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [80]:
len(df["Additional_Info"].unique())

10

In [116]:
#### here two records are having 5min duration which is not true so we are dropping those two records

df.drop(list(df[df["Duration"]=="5m"].index),inplace = True)

In [134]:
#some duration values are only having hours. so, for calculation purpose we are adding 0 mins to it


df["Duration"] = df["Duration"].apply(lambda x: x+" 0m" if x.split("h")[1].replace(" ","") == "" else x+"")

In [137]:
### lets convert duration into minutes

df["Duration"] = df["Duration"].apply(lambda x: int(x.split("h")[0])*60 + int(x.split("h")[1].replace("m","").replace(" ","")))
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_mins,Dep_hour,Dep_mins
0,IndiGo,Banglore,New Delhi,170,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,445,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,1140,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,325,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,285,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [138]:
#### converting some categorical features into numerical feature using label encoding

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [139]:
df["Airline"] = label_encoder.fit_transform(df["Airline"])
df["Source"] = label_encoder.fit_transform(df["Source"])
df["Destination"] = label_encoder.fit_transform(df["Destination"])
df["Destination"] = label_encoder.fit_transform(df["Destination"])

In [140]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_mins,Dep_hour,Dep_mins
0,3,0,5,170,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,1,3,0,445,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,4,2,1,1140,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,3,3,0,325,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,3,0,5,285,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13350 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  int32
 1   Source           13350 non-null  int32
 2   Destination      13350 non-null  int64
 3   Duration         13350 non-null  int64
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13350 non-null  object
 6   Price            10680 non-null  float64
 7   Date             13350 non-null  int32
 8   Month            13350 non-null  int32
 9   Year             13350 non-null  int32
 10  Arrival_Hour     13350 non-null  int32
 11  Arrival_mins     13350 non-null  int32
 12  Dep_hour         13350 non-null  int32
 13  Dep_mins         13350 non-null  int32
dtypes: float64(2), int32(9), int64(2), object(1)
memory usage: 1.1+ MB